html
{
	height: 100%;
	width: 100%;
}

body
{
	height: 100%;
	width: 100%;
}

li
{
	padding: 5px;
}

li:hover
{
	background-color: #555555;
	cursor: pointer;
}

div#container
{
	height: 100%;
	width: 100%;
}

div#menu
{
	background-color: #222222;
	width: 200px;
	height: 100%;
	float: left;
}

p.menu_title
{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	/*text-decoration: underline;*/
	padding-bottom: 8px;
}

ul#navigation
{
	font-size: 15px;
	font-family: "Trebuchet MS", Verdana, Sans-serif;
	color: #EEEEEE;
	list-style: none;
	padding: 10px;
}

div#main
{
	background-color: #FFFFFF;
	height: 100%;
}

div#title
{
	padding-top: 10px;
	font-family: Verdana, sans-serif;
	/* font-style: italic; */
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}