<routes>
    <route url="/" module="home" action="index"/>

    <route url="/home/index\.html" module="home" action="index"/>
    <route url="/home/guide\.html" module="home" action="guide"/>
    <route url="/home/legalNotice\.html" module="home" action="legalNotice"/>
    <route url="/home/changeLang-([a-zA-Z]+)-([a-zA-Z0-9\.\\\/\-]+)\.html" module="home" action="changeLang" vars="newLang,previousPage"/>
    <route url="/home/logout\.html" module="home" action="logout"/>

    <route url="/errors/403\.html" module="errors" action="403"/>
    <route url="/errors/404\.html" module="errors" action="404"/>

    <route url="/lectures/index\.html" module="lectures" action="index"/>
    <route url="/lectures/show-([0-9]+)\.html" module="lectures" action="show" vars="idPackage"/>
    <route url="/lectures/showAll\.html" module="lectures" action="showAll"/>
    <route url="/lectures/showSubscribed\.html" module="lectures" action="showSubscribed"/>
    <route url="/lectures/schedule.html" module="lectures" action="schedule"/>
    <route url="/lectures/showDocuments-([0-9]+)\.html" module="lectures" action="showDocuments" vars="idPackage"/>
    <route url="/lectures/downloadDocuments-([0-9]+)\.html" module="lectures" action="downloadDocuments" vars="idPackage"/>

    <route url="/viewer/index\.html" module="viewer" action="index"/>
    <route url="/viewer/viewImage-([0-9]+)-([0-9]+)-([0-9]+)\.html" module="viewer" action="viewImage" vars="idPackage,idArchive,imageNumber"/>
    <route url="/viewer/redirectToImage\.html" module="viewer" action="redirectToImage"/>

    <route url="/mcq/index\.html" module="mcq" action="index"/>
    <route url="/mcq/takeMCQ\.html" module="mcq" action="takeMCQ"/>

    <route url="/reports/index\.html" module="reports" action="index"/>
    <route url="/reports/upload\.html" module="reports" action="upload"/>
    <route url="/reports/delete\.html" module="reports" action="delete"/>
	
	<route url="/ajax/index\.html" module="ajax" action="index" />
	<route url="/ajax/deleteEntry\.html" module="ajax" action="deleteEntry" />
</routes>
