RewriteEngine On
Options FollowSymLinks

RewriteRule ^admin web/backend.php [QSA,L]

#RewriteRule ^uploads/students - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ web/frontend.php [QSA,L]
