<definitions>
    <define var="availableStudentsList" value="PEIP2;ERII4"/>
    <define var="MCQStartDate" value="28-03-2011"/>
    <define var="MCQMaxQuestions" value="10"/>

    <!-- TODO: Supprimer en production -->
    <define var="availableUsersList" value="vbmifare;gregoire.guisez;jamal.hennani;victor.hiairrassary;william.tassoux"/>
</definitions>
