<definitions>
    <define var="root" value="/vbMifare"/>

    <define var="availableAdminsList" value="vbmifare"/>
    <define var="availableUsersList" value="vbmifare;gregoire.guisez;jamal.hennani;victor.hiairrassary;william.tassoux"/>

    <define var="availablesLanguagesList" value="fr;en"/>
</definitions>
