body {
	margin:0;
	background:url(/vbMifare/web/images/design/background.png) repeat-x top;
	background-attachment:fixed;
}
	
/* ------------------------ Header ------------------------  */

#top {
	background:#1F3B62;
	width:100%;
	height:20px;
	margin-bottom:10px;
}

#top-content {
	margin:auto;
	width:1000px;
}

#top-content a {
	color:#FFF;
	font-size:13px;
	font-family: "Tiraille";
	font-weight:bold;
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
}

#top-content a:hover {
	color:#09F;
}

#header {
	width:100%;
	height:130px;
	background:url(/vbMifare/web/images/design/bg-header.png) no-repeat;
    -moz-border-radius: 10px 10px 0 0px;
    border-radius: 10px 10px 0 0;
}

#header-logo {
	padding: 10px 0 0 20px;
	float:left;
}

#header-content {
	float:right;
	padding: 10px 10px 0 0;
}

#header-info {
	background:url(/vbMifare/web/images/tools/bg-info-etud.png) no-repeat;
	width:300px;
	height:75px;
	padding:15px 0 0 15px;
	font-size:22px;
	font-weight:bold;
	font-family:"Tiraille";
    text-align:center;
	color:#FFF;
}

/* ------------------------ Header ------------------------  */

/* ------------------------ Wrapper ------------------------  */

#wrapper {
	margin:auto;
	width:1048px;
	background-attachment:fixed;
}

#wrapper-body {
	margin:auto;
	width:1000px;
	background:url(/vbMifare/web/images/design/bg-wrapper-body.png) repeat-x top;
	background-attachment:fixed;
	border:4px solid #FFF;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

a {
	text-decoration:none;
	color:#06F;
}

a:hover {
	font-weight:bold;
	color:#0E3463;
}

/* ------------------------ Wrapper ------------------------  */

/* ------------------------ Content ------------------------ */

#content {
	background:url(/vbMifare/web/images/design/bg-content.png) no-repeat top center;
	width:100%;
	border-top:1px solid #0166BF;
}

ul {
	list-style:none;
}

li {
	padding-left:30px;
	background:url(/vbMifare/web/images/tools/puce-li.png) no-repeat;
}

#registrations-infos {
	background:#1F3B62;
    width:300px;
    margin: 30px 0 30px 10px;
	padding:15px 15px 15px 15px;
	font-weight:bold;
	color:#FFF;
}

/* ------------------------ Menu ------------------------ */

#menu {
	text-align:right;
	margin-bottom:100px;
	margin-top:10px;
}

#menu a {
	color: white;
    font-weight:normal;
}

#menu .itemmenu {
	display:block;
	float:right;
	height:25px;
    background-color:#1F3B62;
	padding:0 10px 0 10px;
}

#menu .overitemmenu {
	display:block;
	float:right;
	height:25px;
    background-color:#0E56DB;
	padding:0 10px 0 10px;
}

/* ------------------------ Menu ------------------------ */

/* ------------------------ Message Flash ------------------------ */

#flash
{
	background:#1F3B62;
	width: 50%;
	margin: auto;
	border: 2px solid black;
    font-size: 22px;
    text-align: center; 
}

/* ------------------------ Message Flash ------------------------ */

/* ------------------------ Module Textuel ------------------------ */

.module-text {
	margin:auto;
	width:900px;
	background:url(/vbMifare/web/images/design/module-text/bg-module-text.png) no-repeat top center;
	padding: 5px 0 0 0;
}

.module-text-content {
	margin: 5px 20px 15px 20px;
}

.module-text-header {
	background:url(/vbMifare/web/images/design/module-text/bg-title.png) repeat-x bottom right;
    -moz-border-radius: 0 10px 0 10px;
    border-radius: 10px 10px 0 0;
	color:#FFF;
	font-family:"Tiraille";
	font-weight:bold;
	font-size:18px;
	padding-right:10px;
	padding-left:10px;
	height:30px;
}

.module-text-info {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding:10px;
	background:#FFF;
	
}

/* ------------------------ Module Textuel ------------------------ */

/* ------------------------ Message typé ------------------------ */

.error
{
    color: red;
}

.warning
{
    color: orange;
}

.info
{
    color: green;
}

/* ------------------------ Message typé ------------------------ */

/* ------------------------ QCM ------------------------ */

.block-question {
	border:1px solid #999;
	background:url(/vbMifare/web/images/design/bg-qcm.png) repeat-x bottom;
	padding: 0 8px 8px 0;
	margin-bottom:20px;
}

.title-question {
	margin-bottom:15px;
	padding-left:8px;
	color:#0F3360;
}

.num-question {
	background:url(/vbMifare/web/images/design/bg_num-question.png) no-repeat;
	height:35px;
	width:285px;
	color:#0C64A5;
	padding-left:8px;
	padding-top:3px;
}

.block-question form {
	padding-left:8px;
}

/* ------------------------ QCM ------------------------ */

/* ------------------------ Package ------------------------ */

.doc-dispo {
	float:right;
	border:1px solid #000;
	padding-left:5px;
	padding-right:10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.lecture {
	width:450px;
	margin:5px 0 5px 0;
	border:1px solid #999;
	background:url(/vbMifare/web/images/design/bg-conf.png) repeat-x bottom;
	padding:10px 10px 10px 20px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.lecture .title {
	font-weight:bold;
	font-size:24px;
}

.lecture .description {
	font-size:14px;
	color:#999;
}

.lecture .lecturer {
	margin:5px 0 5px 0;
}

.lecture .date, .hour{
	font-style:italic;
	font-size:16px;
}



/* ------------------------ Package ------------------------ */

/* ------------------------ Edit ------------------------ */

.FormTable
{
    border-collapse: collapse;
}

.FormTable th, .FormTable td
{
    border: 1px solid black;
    text-align: center;
}

table#classroom
{
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	background-color: white;
}

table#classroom th
{
	text-align: left;
	border-width: 1px;
	padding: 5px;
	border-style: none;
	border-color: gray;
	background-color: white;
}

table#classroom td
{
	vertical-align: top;
	border-width: 1px;
	font-size: 14px;
	padding: 5px;
	border-style: none;
	border-color: gray;
	background-color: white;
}

table#classroom .editable:hover
{
	background-color: #F2F2F2;
}

table#classroom .editable:hover
{
	background-color: #F2F2F2;
}

.deletable
{
	cursor:	pointer;
}

p.editable, p.addable, p.ajaxInput, p.separator
{
	cursor: pointer;
	display: inline;
}

a.addable
{
	font-size: 12px;
	cursor: pointer;
}

/* ------------------------ Edit ------------------------ */

/* ------------------------ Viewer ------------------------ */

.viewer
{
    text-align: center;
}

.viewer img
{
    margin: auto;
    padding: 1%;
    border: 3px solid black;
}

/* ------------------------ Viewer ------------------------ */

/* ------------------------ Content ------------------------ */

/* ------------------------ Footer ------------------------ */

#footer {
	margin-top:100px;
	padding:5px;
	color:#FFF;
	text-align:center;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

/* ------------------------ Footer ------------------------ */
