<routes>
    <route url="/admin/*" module="home" action="index"/>
    <route url="/admin/home/index\.html" module="home" action="index"/>
    <route url="/admin/home/logout\.html" module="home" action="logout"/>

    <route url="/admin/classrooms/index\.html" module="classrooms" action="index"/>
    <route url="/admin/classrooms/addClassrooms\.html" module="classrooms" action="addClassrooms"/>
    <route url="/admin/classrooms/addAvailabilities\.html" module="classrooms" action="addAvailabilities"/>

    <route url="/admin/packages/index\.html" module="packages" action="index"/>
    <route url="/admin/packages/addPackages\.html" module="packages" action="addPackages"/>

    <route url="/admin/lectures/index\.html" module="lectures" action="index"/>
    <route url="/admin/lectures/addLectures\.html" module="lectures" action="addLectures"/>
    <route url="/admin/lectures/addBadgingInformation\.html" module="lectures" action="addBadgingInformation"/>
    <route url="/admin/lectures/assignLectures\.html" module="lectures" action="assignLectures"/>

    <route url="/admin/questionsanswers/index\.html" module="questionsanswers" action="index"/>
    <route url="/admin/questionsanswers/addQuestionsAnswers\.html" module="questionsanswers" action="addQuestionsAnswers"/>

    <route url="/admin/mcq/index\.html" module="mcq" action="index"/>
    <route url="/admin/mcq/createMCQ\.html" module="mcq" action="createMCQ"/>
    <route url="/admin/mcq/updateMCQs\.html" module="mcq" action="updateMCQs"/>
    <route url="/admin/mcq/getMarks\.html" module="mcq" action="getMarks"/>

    <route url="/admin/statistics/index\.html" module="statistics" action="index"/>

    <route url="/admin/documents/index\.html" module="documents" action="index"/>
    <route url="/admin/documents/uploadPDF\.html" module="documents" action="uploadPDF"/>
    <route url="/admin/documents/uploadImages\.html" module="documents" action="uploadImages"/>
    <route url="/admin/documents/deletePDF\.html" module="documents" action="deletePDF"/>
    <route url="/admin/documents/deleteImages\.html" module="documents" action="deleteImages"/>

    <route url="/admin/reset/index\.html" module="reset" action="index"/>
    <route url="/admin/reset/truncate\.html" module="reset" action="truncate"/>

    <route url="/admin/settings/index\.html" module="settings" action="index"/>
    <route url="/admin/settings/changeAvailableAdmins\.html" module="settings" action="changeAvailableAdmins"/>
    <route url="/admin/settings/changeSubscribesStatus\.html" module="settings" action="changeSubscribesStatus"/>
	
	<route url="/admin/ajax/index\.html" module="ajax" action="index" />
	<route url="/admin/ajax/modifyText\.html" module="ajax" action="modifyText" />
	<route url="/admin/ajax/addEntry\.html" module="ajax" action="addEntry" />
	<route url="/admin/ajax/deleteEntry\.html" module="ajax" action="deleteEntry" />
	<route url="/admin/ajax/autocompleteUsername\.html" module="ajax" action="autocompleteUsername" />

</routes>
